@font-face{
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-display: swap;
}
@font-face{
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-display: swap;
}
@font-face{
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-display: swap;
}